name: Node.js CI

on: [push, pull_request]

permissions:  
  id-token: write  # This is required for requesting the JWT  
  contents: read   # This is required for actions/checkout  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"  # Apne project ke hisaab se version badal sakta hai

      - name: Install dependencies
        run: npm install

      - name: Request OIDC Token
        run: |
          echo "Token URL: $ACTIONS_ID_TOKEN_REQUEST_URL"
          echo "Token: $ACTIONS_ID_TOKEN_REQUEST_TOKEN"