name: Node.js CI and Push NPM

on: [push, pull_request]

permissions:  
  id-token: write  # This is required for requesting the JWT  
  contents: read   # This is required for actions/checkout  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18" 

      - name: Debug OIDC Token
        run: |
            echo "ACTIONS_ID_TOKEN_REQUEST_URL: $ACTIONS_ID_TOKEN_REQUEST_URL"
            echo "ACTIONS_ID_TOKEN_REQUEST_TOKEN: $ACTIONS_ID_TOKEN_REQUEST_TOKEN"
  
      - name: Request OIDC Token
        run: |
            value=$(curl -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=api://AzureADTokenExchange" | jq '.value')
            token=$(curl -X POST -H "Content-Type: application/json" -d "{\"oidc_token\":$value, \"service_slug\":\"access-Q5D3\"}" https://api.cloudsmith.io/openid/simran-parwani-OO6R/ | jq -r '.token')
            curl --request GET --url https://api.cloudsmith.io/v1/user/self/ --header "X-Api-Key:Bearer $token" --header 'accept: application/json'
  
            echo "CLOUDSMITH_API_KEY=$token" >> $GITHUB_ENV

      - name: Build npm package
        run: npm pack


      - name: Cloudsmith Push npm Package
        uses: cloudsmith-io/action@v0.5.3
        with:
            command: 'push'
            format: 'npm'
            owner: 'simran-parwani-OO6R'             # Your Cloudsmith account name or org name (namespace)
            repo: 'npm'         # Your Cloudsmith Repository name (slug)
            republish: 'true'          # needed if version is not changing
            file: './npm-1.0.0.tgz'  # debian package filename

      - name: Install dependencies
        run: npm install

      
      

      

      - name: Cloudsmith Push npm Package
        uses: cloudsmith-io/action@v0.5.3
        with:
          command: 'push'
          format: 'npm'
          owner: 'simran-parwani-OO6R'  # Your Cloudsmith organization
          repo: 'npm'                   # Your Cloudsmith repository
          republish: 'true'              # Needed if the version is unchanged
          file: '*.tgz'                   # The generated npm package file
